In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.stats.multicomp as mc
from scipy import stats
import pickle
from scipy.stats import mannwhitneyu as mannwu
from matplotlib.ticker import MultipleLocator
from Bio import Seq, SeqIO
import os

import sys
sys.path.append("./scripts/modules")

from benchmarking_definitions import *
from plotting import *
from regions import *

In [2]:
tagsRv = pd.read_csv("/home/sm624/projects/mixed_calls/benchmarking/comprehensive/FINAL_tag_list.csv", names=["tag"])["tag"].values
tagsL1234 = pd.read_csv("/home/sm624/projects/mixed_calls/benchmarking/comprehensive/FINAL_tag_list_L1234.csv", names=["tag"]).tag.values

len(tagsRv), len(tagsL1234)

(2500, 1000)

# [done] AF ≥ 5%: SNP summary table [L1234 only]

pre = raw FreeBayes output

post_1 = after model exclusion

post_2 = after model exclusion and hard filtering on SAO, MQ and DP

post_3 = after model exclusion, hard filtering on SAO, MQ and DP, and region masking

In [9]:
L1234_SNP_summary_df = pd.read_csv("./data/filter_FP/ISS_L1234_SNP_filtering_summary.csv")
print(L1234_SNP_summary_df.shape)
L1234_SNP_summary_df.head(2)

(600, 11)

,tag,depth,freq,num_TP_pre,num_TP_post_1,num_TP_post_2,num_TP_post_3,num_FP_pre,num_FP_post_1,num_FP_post_2,num_FP_post_3
0,sim1_L1_mutant_50_0.05,50,0.05,8,8,2,2,514,239,152,15
1,sim1_L2_mutant_50_0.05,50,0.05,12,12,3,3,416,133,58,2

In [4]:
L1234_SNP_summary_df[L1234_SNP_summary_df.num_TP_pre == 0]

Empty DataFrame
Columns: [tag, depth, freq, num_TP_pre, num_TP_post_1, num_TP_post_2, num_TP_post_3, num_FP_pre, num_FP_post_1, num_FP_post_2, num_FP_post_3]
Index: []

In [10]:
L1234_depth_SNP_summary_df = pd.DataFrame(columns=["depth", "total_num_FP", "total_num_TP", "avg_num_FP", "avg_num_TP",
                                                   "post_1_avg_percent_FP_filtered", "post_1_avg_FPR_per_strain", "post_1_avg_percent_TP_filtered", "post_1_num_TP_filtered",
                                                   "post_2_avg_percent_FP_filtered", "post_2_avg_FPR_per_strain", "post_2_avg_percent_TP_filtered", "post_2_num_TP_filtered",
                                                   "post_3_avg_percent_FP_filtered", "post_3_avg_FPR_per_strain", "post_3_avg_percent_TP_filtered", "post_3_num_TP_filtered"])
df_i = 0

for depth in depths:

    depth_df = L1234_SNP_summary_df[L1234_SNP_summary_df.depth == depth]

    FP_num_lst = depth_df.num_FP_pre
    TP_num_lst = depth_df.num_TP_pre

    total_num_FP = FP_num_lst.sum()
    total_num_TP = TP_num_lst.sum()

    avg_num_FP = FP_num_lst.mean()
    avg_num_TP = TP_num_lst.mean()

    post_ = []

    for i in [1, 2, 3]:
    
        post_i_FP_num_lst = depth_df[f"num_FP_post_{i}"]
        post_i_FP_num_filtered_lst = FP_num_lst - post_i_FP_num_lst
        post_i_FP_percent_filtered_lst = (post_i_FP_num_filtered_lst/FP_num_lst)*100
        post_i_avg_percent_FP_filtered = post_i_FP_percent_filtered_lst.mean()

        post_i_FPR_lst = post_i_FP_num_lst/genome_length
        post_i_avg_FPR = round(np.mean(post_i_FPR_lst), 10)
    
        post_i_TP_num_lst = depth_df[f"num_TP_post_{i}"]
        post_i_TP_num_filtered_lst = TP_num_lst - post_i_TP_num_lst
        post_i_TP_percent_filtered_lst = (post_i_TP_num_filtered_lst/TP_num_lst)*100
        post_i_avg_percent_TP_filtered = post_i_TP_percent_filtered_lst.mean()

        post_i_num_TP_filtered = post_i_TP_num_filtered_lst.sum()

        post_ += [post_i_avg_percent_FP_filtered, post_i_avg_FPR, post_i_avg_percent_TP_filtered, post_i_num_TP_filtered]

    L1234_depth_SNP_summary_df.loc[df_i] = [depth, total_num_FP, total_num_TP, avg_num_FP, avg_num_TP] + post_
    df_i += 1

In [11]:
L1234_depth_SNP_summary_df

,depth,total_num_FP,total_num_TP,avg_num_FP,avg_num_TP,post_1_avg_percent_FP_filtered,post_1_avg_FPR_per_strain,post_1_avg_percent_TP_filtered,post_1_num_TP_filtered,post_2_avg_percent_FP_filtered,post_2_avg_FPR_per_strain,post_2_avg_percent_TP_filtered,post_2_num_TP_filtered,post_3_avg_percent_FP_filtered,post_3_avg_FPR_per_strain,post_3_avg_percent_TP_filtered,post_3_num_TP_filtered
0,50.0,55492.0,2012.0,462.433333,16.766667,56.438676,0.000046,0.180312,4.0,75.799952,0.000026,20.563629,290.0,98.916883,0.000001,24.644108,380.0
1,100.0,55366.0,2017.0,461.383333,16.808333,53.331366,0.000049,0.000000,0.0,70.159590,0.000032,3.817034,44.0,98.564763,0.000002,9.316293,152.0
2,200.0,54980.0,2063.0,458.166667,17.191667,47.965296,0.000054,0.000000,0.0,63.946245,0.000038,0.075758,1.0,98.295552,0.000002,5.191370,109.0
3,400.0,54813.0,2045.0,456.775000,17.041667,43.427657,0.000059,0.000000,0.0,59.068615,0.000043,0.000000,0.0,98.233794,0.000002,5.744275,112.0
4,700.0,53920.0,2029.0,449.333333,16.908333,42.453217,0.000059,0.000000,0.0,58.031590,0.000043,0.000000,0.0,98.232031,0.000002,5.230000,108.0

In [12]:
L1234_depth_SNP_summary_df.to_csv("./data/filter_FP/ISS_L1234_depth_SNP_filtering_summary.csv", index=False)

In [17]:
290+44

334

In [15]:
FP_num_lst = L1234_SNP_summary_df.num_FP_pre
TP_num_lst = L1234_SNP_summary_df.num_TP_pre

avg_num_FP = FP_num_lst.mean()
avg_num_TP = TP_num_lst.mean()

total_num_FP = FP_num_lst.sum()
total_num_TP = TP_num_lst.sum()

print(f"Total FP = {total_num_FP}")
print(f"Total TP = {total_num_TP}")
print()
print(f"Average FP = {avg_num_FP} per strain")
print(f"Average TP = {avg_num_TP} per strain")
print()
print(f"{TP_num_lst.sum()} total TP")

for i in [1, 2, 3]:

    post_i_FP_num_lst = L1234_SNP_summary_df[f"num_FP_post_{i}"]
    post_i_FP_num_filtered_lst = FP_num_lst - post_i_FP_num_lst
    post_i_FP_percent_filtered_lst = (post_i_FP_num_filtered_lst/FP_num_lst)*100
    post_i_avg_percent_FP_filtered = post_i_FP_percent_filtered_lst.mean()

    post_i_FPR_lst = post_i_FP_num_lst/genome_length
    post_i_avg_FPR = np.mean(post_i_FPR_lst)

    post_i_TP_num_lst = L1234_SNP_summary_df[f"num_TP_post_{i}"]
    post_i_TP_num_filtered_lst = TP_num_lst - post_i_TP_num_lst
    post_i_TP_percent_filtered_lst = (post_i_TP_num_filtered_lst/TP_num_lst)*100
    post_i_avg_percent_TP_filtered = post_i_TP_percent_filtered_lst.mean()

    print(f"post_{i}")
    print(f"{post_i_avg_percent_FP_filtered}% FP filtered")
    print(f"{post_i_avg_FPR} FPR")
    print(f"{post_i_avg_percent_TP_filtered}% TP filtered")
    print(f"{post_i_TP_num_filtered_lst.mean()} TP filtered on average")
    print(f"{post_i_TP_num_filtered_lst.sum()} total TP filtered")
    print()

Total FP = 274571
Total TP = 10166

Average FP = 457.61833333333334 per strain
Average TP = 16.94333333333333 per strain

10166 total TP
post_1
48.72324226311625% FP filtered
5.3484443348327375e-05 FPR
0.036062378167641324% TP filtered
0.006666666666666667 TP filtered on average
4 total TP filtered

post_2
65.40119846680727% FP filtered
3.6250445423494604e-05 FPR
4.891284006957381% TP filtered
0.5583333333333333 TP filtered on average
335 total TP filtered

post_3
98.44860466942394% FP filtered
1.650220376957483e-06 FPR
10.025209123951383% TP filtered
1.435 TP filtered on average
861 total TP filtered

In [17]:
len(FP_num_lst)/5

120.0

In [32]:
FP_num_lst = L1234_SNP_summary_df.num_FP_pre
TP_num_lst = L1234_SNP_summary_df.num_TP_pre

avg_FPR = np.mean(FP_num_lst/genome_length)

print(f"Average FPR = {avg_FPR} per strain")
print()

for i in [1, 2, 3]:

    post_i_FP_num_lst = L1234_SNP_summary_df[f"num_FP_post_{i}"]
    post_i_FPR_lst = post_i_FP_num_lst/genome_length
    post_i_avg_FPR = np.mean(post_i_FPR_lst)

    print(f"post_{i}")
    print(f"Average FPR = {post_i_avg_FPR} per strain")
    print()

Average FPR = 0.00010373229375494348 per strain

post_1
Average FPR = 5.3484443348327375e-05 per strain

post_2
Average FPR = 3.6250445423494604e-05 per strain

post_3
Average FPR = 1.650220376957483e-06 per strain

In [1]:
0.000215/1.650220376957483e-06

130.28562912087915

# [done] AF ≥ 5%: INDEL summary table

## H37Rv

In [18]:
Rv_INDEL_summary_df = pd.read_csv("./data/filter_FP/ISS_H37Rv_INDEL_filtering_summary.csv")
print(Rv_INDEL_summary_df.shape)
Rv_INDEL_summary_df.head(2)

(1500, 11)

,tag,depth,freq,num_TP_pre,num_TP_post_1,num_TP_post_2,num_TP_post_3,num_FP_pre,num_FP_post_1,num_FP_post_2,num_FP_post_3
0,sim1_h37rv_mutant_1_50_0.05,50,0.05,7,6,0,0,0,0,0,0
1,sim1_h37rv_mutant_2_50_0.05,50,0.05,4,4,2,2,0,0,0,0

In [19]:
Rv_depth_INDEL_summary_df = pd.DataFrame(columns=["depth", "total_num_FP", "total_num_TP", "avg_num_FP", "avg_num_TP",
                                                  "post_1_avg_percent_FP_filtered", "post_1_avg_percent_TP_filtered",
                                                  "post_2_avg_percent_FP_filtered", "post_2_avg_percent_TP_filtered",
                                                  "post_3_avg_percent_FP_filtered", "post_3_avg_percent_TP_filtered"])
df_i = 0

for depth in depths:

    depth_df = Rv_INDEL_summary_df[Rv_INDEL_summary_df.depth == depth]

    FP_num_lst = depth_df.num_FP_pre
    TP_num_lst = depth_df.num_TP_pre

    total_num_FP = FP_num_lst.sum()
    total_num_TP = TP_num_lst.sum()

    avg_num_FP = FP_num_lst.mean()
    avg_num_TP = TP_num_lst.mean()

    post_ = []

    for i in [1, 2, 3]:
    
        post_i_FP_num_lst = depth_df[f"num_FP_post_{i}"]
        post_i_FP_num_filtered_lst = FP_num_lst - post_i_FP_num_lst
        post_i_FP_percent_filtered_lst = (post_i_FP_num_filtered_lst/FP_num_lst)*100
        post_i_avg_percent_FP_filtered = post_i_FP_percent_filtered_lst.mean()
    
        post_i_TP_num_lst = depth_df[f"num_TP_post_{i}"]
        post_i_TP_num_filtered_lst = TP_num_lst - post_i_TP_num_lst
        post_i_TP_percent_filtered_lst = (post_i_TP_num_filtered_lst/TP_num_lst)*100
        post_i_avg_percent_TP_filtered = post_i_TP_percent_filtered_lst.mean()

        post_ += [post_i_avg_percent_FP_filtered, post_i_avg_percent_TP_filtered]

    Rv_depth_INDEL_summary_df.loc[df_i] = [depth, total_num_FP, total_num_TP, avg_num_FP, avg_num_TP] + post_
    df_i += 1

In [20]:
Rv_depth_INDEL_summary_df

,depth,total_num_FP,total_num_TP,avg_num_FP,avg_num_TP,post_1_avg_percent_FP_filtered,post_1_avg_percent_TP_filtered,post_2_avg_percent_FP_filtered,post_2_avg_percent_TP_filtered,post_3_avg_percent_FP_filtered,post_3_avg_percent_TP_filtered
0,50.0,53.0,2616.0,0.176667,8.720000,40.425532,1.606015,100.0,23.916627,100.0,23.916627
1,100.0,0.0,2624.0,0.000000,8.746667,NaN,2.115385,NaN,6.651802,NaN,6.651802
2,200.0,0.0,2636.0,0.000000,8.786667,NaN,0.988889,NaN,1.372222,NaN,1.372222
3,400.0,0.0,2603.0,0.000000,8.676667,NaN,0.432099,NaN,0.432099,NaN,0.432099
4,700.0,0.0,2582.0,0.000000,8.606667,NaN,0.000000,NaN,0.000000,NaN,0.000000

In [21]:
Rv_depth_INDEL_summary_df.to_csv("./data/filter_FP/ISS_H37Rv_depth_INDEL_filtering_summary.csv", index=False)

In [28]:
FP_num_lst = Rv_INDEL_summary_df.num_FP_pre
TP_num_lst = Rv_INDEL_summary_df.num_TP_pre

total_num_FP = FP_num_lst.sum()
total_num_TP = TP_num_lst.sum()

avg_num_FP = FP_num_lst.mean()
avg_num_TP = TP_num_lst.mean()

print(f"Total FP = {total_num_FP}")
print(f"Total TP = {total_num_TP}")
print()
print(f"Average FP = {avg_num_FP} per strain")
print(f"Average TP = {avg_num_TP} per strain")
print()
print(f"{TP_num_lst.sum()} total TP")

for i in [1, 2, 3]:

    post_i_FP_num_lst = Rv_INDEL_summary_df[f"num_FP_post_{i}"]
    post_i_FP_num_filtered_lst = FP_num_lst - post_i_FP_num_lst
    post_i_FP_percent_filtered_lst = (post_i_FP_num_filtered_lst/FP_num_lst)*100
    post_i_avg_percent_FP_filtered = post_i_FP_percent_filtered_lst.mean()

    post_i_TP_num_lst = Rv_INDEL_summary_df[f"num_TP_post_{i}"]
    post_i_TP_num_filtered_lst = TP_num_lst - post_i_TP_num_lst
    post_i_TP_percent_filtered_lst = (post_i_TP_num_filtered_lst/TP_num_lst)*100
    post_i_avg_percent_TP_filtered = post_i_TP_percent_filtered_lst.mean()

    print(f"post_{i}")
    print(f"{post_i_avg_percent_FP_filtered}% FP filtered")
    print(f"{post_i_avg_percent_TP_filtered}% TP filtered")
    print(f"{post_i_TP_num_filtered_lst.sum()} TP filtered")
    print()

Total FP = 53
Total TP = 13061

Average FP = 0.035333333333333335 per strain
Average TP = 8.707333333333333 per strain

13061 total TP
post_1
40.42553191489362% FP filtered
1.0320123575157132% TP filtered
57 TP filtered

post_2
100.0% FP filtered
6.496617662725046% TP filtered
548 TP filtered

post_3
100.0% FP filtered
6.496617662725046% TP filtered
548 TP filtered

## L1234

In [23]:
L1234_INDEL_summary_df = pd.read_csv("./data/filter_FP/ISS_L1234_INDEL_filtering_summary.csv")
print(L1234_INDEL_summary_df.shape)
L1234_INDEL_summary_df.head(2)

(600, 11)

,tag,depth,freq,num_TP_pre,num_TP_post_1,num_TP_post_2,num_TP_post_3,num_FP_pre,num_FP_post_1,num_FP_post_2,num_FP_post_3
0,sim1_L1_mutant_50_0.05,50,0.05,NaN,NaN,NaN,NaN,19,10,7,0
1,sim1_L2_mutant_50_0.05,50,0.05,NaN,NaN,NaN,NaN,26,15,10,0

In [24]:
L1234_depth_INDEL_summary_df = pd.DataFrame(columns=["depth", "total_num_FP", "total_num_TP", "avg_num_FP", "avg_num_TP",
                                                     "post_1_avg_percent_FP_filtered", "post_1_avg_percent_TP_filtered",
                                                     "post_2_avg_percent_FP_filtered", "post_2_avg_percent_TP_filtered",
                                                     "post_3_avg_percent_FP_filtered", "post_3_avg_percent_TP_filtered"])
df_i = 0

for depth in depths:

    depth_df = L1234_INDEL_summary_df[L1234_INDEL_summary_df.depth == depth]

    FP_num_lst = depth_df.num_FP_pre
    TP_num_lst = depth_df.num_TP_pre

    total_num_FP = FP_num_lst.sum()
    total_num_TP = TP_num_lst.sum()

    avg_num_FP = FP_num_lst.mean()
    avg_num_TP = TP_num_lst.mean()

    post_ = []

    for i in [1, 2, 3]:
    
        post_i_FP_num_lst = depth_df[f"num_FP_post_{i}"]
        post_i_FP_num_filtered_lst = FP_num_lst - post_i_FP_num_lst
        post_i_FP_percent_filtered_lst = (post_i_FP_num_filtered_lst/FP_num_lst)*100
        post_i_avg_percent_FP_filtered = post_i_FP_percent_filtered_lst.mean()
    
        post_i_TP_num_lst = depth_df[f"num_TP_post_{i}"]
        post_i_TP_num_filtered_lst = TP_num_lst - post_i_TP_num_lst
        post_i_TP_percent_filtered_lst = (post_i_TP_num_filtered_lst/TP_num_lst)*100
        post_i_avg_percent_TP_filtered = post_i_TP_percent_filtered_lst.mean()

        post_ += [post_i_avg_percent_FP_filtered, post_i_avg_percent_TP_filtered]

    L1234_depth_INDEL_summary_df.loc[df_i] = [depth, total_num_FP, total_num_TP, avg_num_FP, avg_num_TP] + post_
    df_i += 1

In [25]:
L1234_depth_INDEL_summary_df

,depth,total_num_FP,total_num_TP,avg_num_FP,avg_num_TP,post_1_avg_percent_FP_filtered,post_1_avg_percent_TP_filtered,post_2_avg_percent_FP_filtered,post_2_avg_percent_TP_filtered,post_3_avg_percent_FP_filtered,post_3_avg_percent_TP_filtered
0,50.0,2527.0,0.0,21.058333,NaN,45.437776,NaN,61.118397,NaN,98.763534,NaN
1,100.0,2698.0,0.0,22.483333,NaN,45.122902,NaN,57.649588,NaN,98.848341,NaN
2,200.0,2754.0,0.0,22.950000,NaN,43.145619,NaN,53.765663,NaN,98.870853,NaN
3,400.0,2800.0,0.0,23.333333,NaN,41.524978,NaN,51.980980,NaN,98.925543,NaN
4,700.0,2802.0,0.0,23.350000,NaN,39.929280,NaN,49.301100,NaN,98.987995,NaN

In [26]:
L1234_depth_INDEL_summary_df.to_csv("./data/filter_FP/ISS_L1234_depth_INDEL_filtering_summary.csv", index=False)

In [27]:
FP_num_lst = L1234_INDEL_summary_df.num_FP_pre

avg_num_FP = FP_num_lst.mean()

total_num_FP = FP_num_lst.sum()

print(f"Total FP = {total_num_FP}")
print()
print(f"Average FP = {avg_num_FP} per strain")
print()

for i in [1, 2, 3]:

    post_i_FP_num_lst = L1234_INDEL_summary_df[f"num_FP_post_{i}"]
    post_i_FP_num_filtered_lst = FP_num_lst - post_i_FP_num_lst
    post_i_FP_percent_filtered_lst = (post_i_FP_num_filtered_lst/FP_num_lst)*100
    post_i_avg_percent_FP_filtered = post_i_FP_percent_filtered_lst.mean()

    print(f"post_{i}")
    print(f"{post_i_avg_percent_FP_filtered}% FP filtered")
    print()

Total FP = 13581

Average FP = 22.635 per strain

post_1
43.03211093143129% FP filtered

post_2
54.76314578161466% FP filtered

post_3
98.87925308667626% FP filtered

# [done] AF < 5%: SNP summary table [L1234 only]

In [5]:
L1234_SNP_AFunder5_summary_df = pd.read_csv("./data/filter_FP/ISS_L1234_SNP_AFunder5_filtering_summary.csv")
print(L1234_SNP_AFunder5_summary_df.shape)
L1234_SNP_AFunder5_summary_df.head(2)

(400, 11)

,tag,depth,freq,num_TP_pre,num_TP_post_1,num_TP_post_2,num_TP_post_3,num_FP_pre,num_FP_post_1,num_FP_post_2,num_FP_post_3
0,sim1_L1_mutant_50_0.01,50,0.01,0,0,0,0,286,217,1,0
1,sim1_L2_mutant_50_0.01,50,0.01,2,2,0,0,224,159,0,0

In [7]:
L1234_SNP_AFunder5_summary_df[L1234_SNP_AFunder5_summary_df.num_TP_pre == 0].shape

(10, 11)

In [8]:
L1234_SNP_AFunder5_summary_df[L1234_SNP_AFunder5_summary_df.num_TP_pre == 0]

,tag,depth,freq,num_TP_pre,num_TP_post_1,num_TP_post_2,num_TP_post_3,num_FP_pre,num_FP_post_1,num_FP_post_2,num_FP_post_3
0,sim1_L1_mutant_50_0.01,50,0.01,0,0,0,0,286,217,1,0
3,sim2_L1_mutant_50_0.01,50,0.01,0,0,0,0,328,192,0,0
5,sim2_L3_mutant_50_0.01,50,0.01,0,0,0,0,255,170,0,0
13,sim5_L2_mutant_50_0.01,50,0.01,0,0,0,0,166,102,0,0
14,sim5_L3_mutant_50_0.01,50,0.01,0,0,0,0,261,186,0,0
17,sim1_L3_mutant_50_0.02,50,0.02,0,0,0,0,213,135,0,0
24,sim4_L1_mutant_50_0.02,50,0.02,0,0,0,0,237,158,0,0
61,sim1_L2_mutant_100_0.01,100,0.01,0,0,0,0,756,582,2,2
300,sim1_L4_mutant_50_0.01,50,0.01,0,0,0,0,230,177,1,0
302,sim3_L4_mutant_50_0.01,50,0.01,0,0,0,0,245,170,0,0

In [28]:
L1234_depth_SNP_AFunder5_summary_df = pd.DataFrame(columns=["depth", "avg_num_FP", "avg_num_TP",
                                                            "post_1_avg_percent_FP_filtered", "post_1_avg_percent_TP_filtered", "post_1_num_TP_filtered",
                                                            "post_2_avg_percent_FP_filtered", "post_2_avg_percent_TP_filtered", "post_2_num_TP_filtered",
                                                            "post_3_avg_percent_FP_filtered", "post_3_avg_percent_TP_filtered", "post_3_num_TP_filtered"])
df_i = 0

for depth in depths:

    depth_df = L1234_SNP_AFunder5_summary_df[L1234_SNP_AFunder5_summary_df.depth == depth]

    FP_num_lst = depth_df.num_FP_pre
    TP_num_lst = depth_df.num_TP_pre

    avg_num_FP = FP_num_lst.mean()
    avg_num_TP = TP_num_lst.mean()

    post_ = []

    for i in [1, 2, 3]:
    
        post_i_FP_num_lst = depth_df[f"num_FP_post_{i}"]
        post_i_FP_num_filtered_lst = FP_num_lst - post_i_FP_num_lst
        post_i_FP_percent_filtered_lst = (post_i_FP_num_filtered_lst/FP_num_lst)*100
        post_i_avg_percent_FP_filtered = post_i_FP_percent_filtered_lst.mean()
    
        post_i_TP_num_lst = depth_df[f"num_TP_post_{i}"]
        post_i_TP_num_filtered_lst = TP_num_lst - post_i_TP_num_lst
        post_i_TP_percent_filtered_lst = (post_i_TP_num_filtered_lst/TP_num_lst)*100
        post_i_avg_percent_TP_filtered = post_i_TP_percent_filtered_lst.mean()

        post_i_num_TP_filtered = post_i_TP_num_filtered_lst.sum()

        post_ += [post_i_avg_percent_FP_filtered, post_i_avg_percent_TP_filtered, post_i_num_TP_filtered]

    L1234_depth_SNP_AFunder5_summary_df.loc[df_i] = [depth, avg_num_FP, avg_num_TP] + post_
    df_i += 1

In [29]:
L1234_depth_SNP_AFunder5_summary_df

,depth,avg_num_FP,avg_num_TP,post_1_avg_percent_FP_filtered,post_1_avg_percent_TP_filtered,post_1_num_TP_filtered,post_2_avg_percent_FP_filtered,post_2_avg_percent_TP_filtered,post_2_num_TP_filtered,post_3_avg_percent_FP_filtered,post_3_avg_percent_TP_filtered,post_3_num_TP_filtered
0,50.0,232.7250,4.2125,29.995924,0.377264,2.0,99.974646,100.000000,337.0,100.000000,100.000000,337.0
1,100.0,754.2250,10.1875,23.323897,0.079114,1.0,99.621933,85.834453,683.0,99.963504,86.949345,694.0
2,200.0,528.2375,13.1125,43.062686,0.375000,2.0,97.819516,44.959151,419.0,99.701286,47.415358,447.0
3,400.0,357.8125,15.1500,65.785612,0.000000,0.0,94.672400,8.822829,78.0,99.247766,14.448560,143.0
4,700.0,365.6625,15.7625,65.336799,0.000000,0.0,92.241886,0.903319,8.0,98.961352,6.380962,76.0

In [30]:
L1234_depth_SNP_AFunder5_summary_df.to_csv("./data/filter_FP/ISS_L1234_depth_SNP_AFunder5_filtering_summary.csv", index=False)

In [31]:
FP_num_lst = L1234_SNP_AFunder5_summary_df.num_FP_pre
TP_num_lst = L1234_SNP_AFunder5_summary_df.num_TP_pre

avg_num_FP = FP_num_lst.mean()
avg_num_TP = TP_num_lst.mean()

print(f"Average FP = {avg_num_FP} per strain")
print(f"Average TP = {avg_num_TP} per strain")
print()
print(f"{TP_num_lst.sum()} total TP")

for i in [1, 2, 3]:

    post_i_FP_num_lst = L1234_SNP_AFunder5_summary_df[f"num_FP_post_{i}"]
    post_i_FP_num_filtered_lst = FP_num_lst - post_i_FP_num_lst
    post_i_FP_percent_filtered_lst = (post_i_FP_num_filtered_lst/FP_num_lst)*100
    post_i_avg_percent_FP_filtered = post_i_FP_percent_filtered_lst.mean()

    post_i_TP_num_lst = L1234_SNP_AFunder5_summary_df[f"num_TP_post_{i}"]
    post_i_TP_num_filtered_lst = TP_num_lst - post_i_TP_num_lst
    post_i_TP_percent_filtered_lst = (post_i_TP_num_filtered_lst/TP_num_lst)*100
    post_i_avg_percent_TP_filtered = post_i_TP_percent_filtered_lst.mean()

    print(f"post_{i}")
    print(f"{post_i_avg_percent_FP_filtered}% FP filtered")
    print(f"{post_i_avg_percent_TP_filtered}% TP filtered")
    print(f"{post_i_TP_num_filtered_lst.sum()} TP filtered")
    print()

Average FP = 447.7325 per strain
Average TP = 11.685 per strain

4674 total TP
post_1
45.500983561232154% FP filtered
0.16163003663003664% TP filtered
5 TP filtered

post_2
96.866076345619% FP filtered
46.809604244291066% TP filtered
1525 TP filtered

post_3
99.57478150041578% FP filtered
49.81689409419226% TP filtered
1697 TP filtered

# Describe overlap of TP with excluded regions

Recompute recall for the post_3 filter scheme so that the denominator is only the mutations outside of these regions??

In [36]:
h37Rv_path = "/n/data1/hms/dbmi/farhat/Sanjana/H37Rv"
h37Rv_seq = SeqIO.read(os.path.join(h37Rv_path, "GCF_000195955.2_ASM19595v2_genomic.gbff"), "genbank")
h37Rv_genes = pd.read_csv(os.path.join(h37Rv_path, "mycobrowser_h37rv_genes_v4.csv"))
h37Rv_regions = pd.read_csv(os.path.join(h37Rv_path, "mycobrowser_h37rv_v4.csv"))

# remove rRNAs, which are highly conserved. rrs, rrl, and rrf
rRNA_pos = []

for i, row in h37Rv_regions.query("Functional_Category=='stable RNAs' & Feature=='rRNA'").iterrows():
    rRNA_pos += list(np.arange(row['Start'], row['Stop'] + 1))
    
    
# exclude any indel within 100 bp of an insertion seq / phage and also within those regions
insertion_seqs_phages_pos = []

for i, row in h37Rv_regions.query("Functional_Category=='insertion seqs and phages'").iterrows():
    insertion_seqs_phages_pos += list(np.arange(row['Start'] - 100, row['Stop'] + 100 + 1))
    
insertion_seqs_phages_pos = np.unique(insertion_seqs_phages_pos)

In [43]:
num_DR = 20
num_LM = 20

Rv_SNP_overlap_df = pd.DataFrame(columns=["mutant_num", "percent_DR_LM_overlap", "percent_DR_rRNA_overlap", "percent_LM_LM_overlap", "percent_LM_rRNA_overlap"])
df_i = 0

for mutant_num in range(1, 11):

    mutant_df = pd.read_csv(f"../../../../mutant_summaries_final/mutant_{mutant_num}.csv")

    DR_df = mutant_df[mutant_df.TYPE == "DR"]
    num_DR_LM_overlap = sum(DR_df.POS.isin(LM_pos))
    percent_DR_LM_overlap = (num_DR_LM_overlap/num_DR)*100
    num_DR_rRNA_overlap = sum(DR_df.POS.isin(rRNA_pos))
    percent_DR_rRNA_overlap = (num_DR_rRNA_overlap/num_DR)*100

    LM_df = mutant_df[mutant_df.TYPE == "low_map"]
    num_LM_LM_overlap = sum(LM_df.POS.isin(LM_pos))
    percent_LM_LM_overlap = (num_LM_LM_overlap/num_LM)*100
    num_LM_rRNA_overlap = sum(LM_df.POS.isin(rRNA_pos))
    percent_LM_rRNA_overlap = (num_LM_rRNA_overlap/num_LM)*100

    Rv_SNP_overlap_df.loc[df_i] = [mutant_num, percent_DR_LM_overlap, percent_DR_rRNA_overlap, percent_LM_LM_overlap, percent_LM_rRNA_overlap]
    df_i += 1

In [44]:
Rv_SNP_overlap_df

,mutant_num,percent_DR_LM_overlap,percent_DR_rRNA_overlap,percent_LM_LM_overlap,percent_LM_rRNA_overlap
0,1.0,20.0,0.0,100.0,0.0
1,2.0,30.0,5.0,100.0,0.0
2,3.0,15.0,0.0,100.0,0.0
3,4.0,20.0,0.0,100.0,0.0
4,5.0,15.0,0.0,100.0,0.0
5,6.0,10.0,0.0,100.0,0.0
6,7.0,25.0,5.0,100.0,0.0
7,8.0,10.0,0.0,100.0,0.0
8,9.0,45.0,5.0,100.0,0.0
9,10.0,30.0,0.0,100.0,0.0

In [45]:
Rv_SNP_overlap_df.to_csv("./data/filter_FP/H37Rv_SNP_region_mask_overlap.csv", index=False)

In [50]:
num_DR = 20

L1234_SNP_overlap_df = pd.DataFrame(columns=["percent_DR_LM_overlap", "percent_DR_rRNA_overlap"])
df_i = 0

mutant_df = pd.read_csv("../../../../lineage123/mutant_summaries_final/L123_mutant.csv")

num_DR_LM_overlap = sum(mutant_df.POS.isin(LM_pos))
percent_DR_LM_overlap = (num_DR_LM_overlap/num_DR)*100

num_DR_rRNA_overlap = sum(mutant_df.POS.isin(rRNA_pos))
percent_DR_rRNA_overlap = (num_DR_rRNA_overlap/num_DR)*100

L1234_SNP_overlap_df.loc[df_i] = [percent_DR_LM_overlap, percent_DR_rRNA_overlap]
df_i += 1

In [51]:
L1234_SNP_overlap_df

   percent_DR_LM_overlap  percent_DR_rRNA_overlap
0                   15.0                      5.0

In [52]:
L1234_SNP_overlap_df.to_csv("./data/filter_FP/L1234_SNP_region_mask_overlap.csv", index=False)

In [53]:
num_HT = 10

Rv_INDEL_overlap_df = pd.DataFrame(columns=["mutant_num", "percent_HT_LM_overlap", "percent_HT_rRNA_overlap", "percent_HT_insertionSeqPhage_overlap"])
df_i = 0

for mutant_num in range(1, 11):

    mutant_df = pd.read_csv(f"../../../../mutant_summaries_final/mutant_{mutant_num}.csv")

    HT_df = mutant_df[mutant_df.TYPE == "HT"]
    
    num_HT_LM_overlap = sum(HT_df.POS.isin(LM_pos))
    percent_HT_LM_overlap = (num_HT_LM_overlap/num_HT)*100

    num_HT_rRNA_overlap = sum(HT_df.POS.isin(rRNA_pos))
    percent_HT_rRNA_overlap = (num_HT_rRNA_overlap/num_HT)*100

    num_HT_insertionsSeqPhage_overlap = sum(HT_df.POS.isin(insertion_seqs_phages_pos))
    percent_HT_insertionsSeqPhage_overlap = (num_HT_insertionsSeqPhage_overlap/num_HT)*100

    Rv_INDEL_overlap_df.loc[df_i] = [mutant_num, percent_HT_LM_overlap, percent_HT_rRNA_overlap, percent_HT_insertionsSeqPhage_overlap]
    df_i += 1

In [54]:
Rv_INDEL_overlap_df

,mutant_num,percent_HT_LM_overlap,percent_HT_rRNA_overlap,percent_HT_insertionSeqPhage_overlap
0,1.0,10.0,0.0,0.0
1,2.0,10.0,0.0,0.0
2,3.0,0.0,0.0,0.0
3,4.0,0.0,0.0,0.0
4,5.0,0.0,0.0,0.0
5,6.0,10.0,0.0,0.0
6,7.0,10.0,0.0,0.0
7,8.0,0.0,0.0,0.0
8,9.0,0.0,0.0,0.0
9,10.0,10.0,0.0,0.0

In [56]:
Rv_INDEL_overlap_df.to_csv("./data/filter_FP/H37Rv_INDEL_region_mask_overlap.csv", index=False)