# [SOURCE] SIMULATED DATA STATISTICS

In [1]:
import pandas as pd
import numpy as np
import pickle
import os

import sys
sys.path.append("./scripts/modules")

from benchmarking_definitions import *

In [2]:
tagsRv = pd.read_csv("./data/source/FINAL_tag_list.csv", names=["tag"])["tag"].values
tagsL1234 = pd.read_csv("./data/source/FINAL_tag_list_L1234.csv", names=["tag"]).tag.values

len(tagsRv), len(tagsL1234)

(2500, 1000)

In [3]:
ISS_Rv_wgs_source = "/n/data1/hms/dbmi/farhat/shandu/projects/mixed_calls/benchmarking/comprehensive/ISS_wgs_processing/output{}x"
ISS_L1234_wgs_source = "/n/data1/hms/dbmi/farhat/shandu/projects/mixed_calls/benchmarking/comprehensive/ISSL123_wgs_processing/output{}x"

In [4]:
ART_Rv_wgs_source = "/n/data1/hms/dbmi/farhat/shandu/projects/mixed_calls/benchmarking/comprehensive/ART_wgs_processing/output{}x"
ART_L1234_wgs_source = "/n/data1/hms/dbmi/farhat/shandu/projects/mixed_calls/benchmarking/comprehensive/ARTL123_wgs_processing/output{}x"

In [5]:
ISS_Rv_pileup_source_dir = "/n/data1/hms/dbmi/farhat/shandu/projects/mixed_calls/benchmarking/comprehensive/ISS_pipeline_outputs/mpileup/output"
ISS_L1234_pileup_source_dir = "/n/data1/hms/dbmi/farhat/shandu/projects/mixed_calls/benchmarking/comprehensive/ISSL123_pipeline_outputs/mpileup/output"
ART_Rv_pileup_source_dir = "/n/data1/hms/dbmi/farhat/shandu/projects/mixed_calls/benchmarking/comprehensive/ART_pipeline_outputs/mpileup/output"
ART_L1234_pileup_source_dir = "/n/data1/hms/dbmi/farhat/shandu/projects/mixed_calls/benchmarking/comprehensive/ARTL123_pipeline_outputs/mpileup/output"

# Make pilon VCF tag maps to extract DP and BQ metrics

Pilon includes an entry for each position

## ISS Rv

In [17]:
tag_df = pd.DataFrame(columns=["tag", "path"])
df_i = 0

for depth in depths:
    
    depth_source_dir = ISS_Rv_wgs_source.format(depth)
    
    for mutant_num in range(1, 11):
        for freq in freqs:
            for sim_i in range(1, 6):
                
                tag = "sim{}_h37rv_mutant_{}_{}_{}".format(sim_i, mutant_num, depth, freq)
                
                pilon_vcf = "{0}/{1}/pilon/{1}.vcf.gz".format(depth_source_dir, tag)
                assert(os.path.isfile(pilon_vcf))
                
                tag_df.loc[df_i] = [tag, pilon_vcf]
                df_i += 1

tag_df.to_csv("/n/scratch/users/s/sm624/ISS_H37Rv_simulated_depths/tag_map.csv", index=False, header=False)

## ISS L1234

In [18]:
tag_df = pd.DataFrame(columns=["tag", "path"])
df_i = 0

for depth in depths:
    
    depth_source_dir = ISS_L1234_wgs_source.format(depth)
    
    for lineage in range(1, 5):
        for freq in freqs:
            for sim_i in range(1, 6):
                
                tag = "sim{}_L{}_mutant_{}_{}".format(sim_i, lineage, depth, freq)
                
                pilon_vcf = "{0}/{1}/pilon/{1}.vcf.gz".format(depth_source_dir, tag)
                assert(os.path.isfile(pilon_vcf))
                
                tag_df.loc[df_i] = [tag, pilon_vcf]
                df_i += 1

tag_df.to_csv("/n/scratch/users/s/sm624/ISS_L1234_simulated_depths/tag_map.csv", index=False, header=False)

## ART Rv

In [19]:
tag_df = pd.DataFrame(columns=["tag", "path"])
df_i = 0

for depth in depths:
    
    depth_source_dir = ART_Rv_wgs_source.format(depth)
    
    for mutant_num in range(1, 11):
        for freq in freqs:
            for sim_i in range(1, 6):
                
                tag = "sim{}_h37rv_mutant_{}_{}_{}".format(sim_i, mutant_num, depth, freq)
                
                pilon_vcf = "{0}/{1}/pilon/{1}.vcf.gz".format(depth_source_dir, tag)
                assert(os.path.isfile(pilon_vcf))
                
                tag_df.loc[df_i] = [tag, pilon_vcf]
                df_i += 1

tag_df.to_csv("/n/scratch/users/s/sm624/ART_H37Rv_simulated_depths/tag_map.csv", index=False, header=False)

## ART L1234

In [20]:
tag_df = pd.DataFrame(columns=["tag", "path"])
df_i = 0

for depth in depths:
    
    depth_source_dir = ART_L1234_wgs_source.format(depth)
    
    for lineage in range(1, 5):
        for freq in freqs:
            for sim_i in range(1, 6):
                
                tag = "sim{}_L{}_mutant_{}_{}".format(sim_i, lineage, depth, freq)
                
                pilon_vcf = "{0}/{1}/pilon/{1}.vcf.gz".format(depth_source_dir, tag)
                assert(os.path.isfile(pilon_vcf))
                
                tag_df.loc[df_i] = [tag, pilon_vcf]
                df_i += 1

tag_df.to_csv("/n/scratch/users/s/sm624/ART_L1234_simulated_depths/tag_map.csv", index=False, header=False)

# Get depths

## ISS Rv [COMPLETE]

```bash
bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/setup.sh \
  /n/scratch/users/s/sm624/ISS_H37Rv_simulated_depths/tag_map.csv \
  /n/scratch/users/s/sm624/ISS_H37Rv_simulated_depths \
  100 \
  depths

bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/RUN_BATCH_get_depths.sh \
  /n/scratch/users/s/sm624/ISS_H37Rv_simulated_depths/pipeline_data/depths_isolate_groups_1757519913 \
  /n/scratch/users/s/sm624/ISS_H37Rv_simulated_depths/output \
  /n/scratch/users/s/sm624/ISS_H37Rv_simulated_depths/scratch \
  4 \
  1M \
  /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/config_files/benchmarking_analysis
```

In [21]:
tag_path_df = pd.DataFrame(columns=["tag", "depth_file"])
df_i = 0

for tag in tagsRv:
    
    depth_file = "/n/scratch/users/s/sm624/ISS_H37Rv_simulated_depths/output/{0}.depths".format(tag)
    assert(os.path.isfile(depth_file))
    
    tag_path_df.loc[df_i] = [tag, depth_file]
    df_i += 1
    
tag_path_df.to_csv("/n/scratch/users/s/sm624/ISS_H37Rv_simulated_depths/depth_file_map.csv", index=False, header=False)

```bash
python /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/get_mean.py \
  /n/scratch/users/s/sm624/ISS_H37Rv_simulated_depths/depth_file_map.csv \
  /n/scratch/users/s/sm624/ISS_H37Rv_simulated_depths/simulated_depths_summary.csv
```

## ISS L1234 [COMPLETE]

```bash
bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/setup.sh \
  /n/scratch/users/s/sm624/ISS_L1234_simulated_depths/tag_map.csv \
  /n/scratch/users/s/sm624/ISS_L1234_simulated_depths \
  100 \
  depths

bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/RUN_BATCH_get_depths.sh \
  /n/scratch/users/s/sm624/ISS_L1234_simulated_depths/pipeline_data/depths_isolate_groups_1757520072 \
  /n/scratch/users/s/sm624/ISS_L1234_simulated_depths/output \
  /n/scratch/users/s/sm624/ISS_L1234_simulated_depths/scratch \
  4 \
  1M \
  /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/config_files/benchmarking_analysis
```

In [37]:
tag_path_df = pd.DataFrame(columns=["tag", "depth_file"])
df_i = 0

for tag in tagsL1234:
    
    depth_file = "/n/scratch/users/s/sm624/ISS_L1234_simulated_depths/output/{0}.depths".format(tag)
    assert(os.path.isfile(depth_file))
    
    tag_path_df.loc[df_i] = [tag, depth_file]
    df_i += 1
    
tag_path_df.to_csv("/n/scratch/users/s/sm624/ISS_L1234_simulated_depths/depth_file_map.csv", index=False, header=False)

```bash
python /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/get_mean.py \
  /n/scratch/users/s/sm624/ISS_L1234_simulated_depths/depth_file_map.csv \
  /n/scratch/users/s/sm624/ISS_L1234_simulated_depths/simulated_depths_summary.csv
```

## ART Rv [COMPLETE]

```bash
bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/setup.sh \
  /n/scratch/users/s/sm624/ART_H37Rv_simulated_depths/tag_map.csv \
  /n/scratch/users/s/sm624/ART_H37Rv_simulated_depths \
  100 \
  depths

bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/RUN_BATCH_get_depths.sh \
  /n/scratch/users/s/sm624/ART_H37Rv_simulated_depths/pipeline_data/depths_isolate_groups_1757520119 \
  /n/scratch/users/s/sm624/ART_H37Rv_simulated_depths/output \
  /n/scratch/users/s/sm624/ART_H37Rv_simulated_depths/scratch \
  4 \
  1M \
  /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/config_files/benchmarking_analysis
```

In [38]:
tag_path_df = pd.DataFrame(columns=["tag", "depth_file"])
df_i = 0

for tag in tagsRv:
    
    depth_file = "/n/scratch/users/s/sm624/ART_H37Rv_simulated_depths/output/{0}.depths".format(tag)
    assert(os.path.isfile(depth_file))
    
    tag_path_df.loc[df_i] = [tag, depth_file]
    df_i += 1
    
tag_path_df.to_csv("/n/scratch/users/s/sm624/ART_H37Rv_simulated_depths/depth_file_map.csv", index=False, header=False)

```bash
python /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/get_mean.py \
  /n/scratch/users/s/sm624/ART_H37Rv_simulated_depths/depth_file_map.csv \
  /n/scratch/users/s/sm624/ART_H37Rv_simulated_depths/simulated_depths_summary.csv
```

## ART L1234 [COMPLETE]

```bash
bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/setup.sh \
  /n/scratch/users/s/sm624/ART_L1234_simulated_depths/tag_map.csv \
  /n/scratch/users/s/sm624/ART_L1234_simulated_depths \
  100 \
  depths

bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/RUN_BATCH_get_depths.sh \
  /n/scratch/users/s/sm624/ART_L1234_simulated_depths/pipeline_data/depths_isolate_groups_1757520162 \
  /n/scratch/users/s/sm624/ART_L1234_simulated_depths/output \
  /n/scratch/users/s/sm624/ART_L1234_simulated_depths/scratch \
  4 \
  1M \
  /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/config_files/benchmarking_analysis
```

In [41]:
tag_path_df = pd.DataFrame(columns=["tag", "depth_file"])
df_i = 0

for tag in tagsL1234:
    
    depth_file = "/n/scratch/users/s/sm624/ART_L1234_simulated_depths/output/{0}.depths".format(tag)
    assert(os.path.isfile(depth_file))
    
    tag_path_df.loc[df_i] = [tag, depth_file]
    df_i += 1
    
tag_path_df.to_csv("/n/scratch/users/s/sm624/ART_L1234_simulated_depths/depth_file_map.csv", index=False, header=False)

```bash
python /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/get_mean.py \
  /n/scratch/users/s/sm624/ART_L1234_simulated_depths/depth_file_map.csv \
  /n/scratch/users/s/sm624/ART_L1234_simulated_depths/simulated_depths_summary.csv
```

## Combine

In [11]:
ISS_depth_summary_df = pd.DataFrame(columns=["tag", "genome", "simulation", "expected_depth", "value_mean"])

# H37Rv
ISS_Rv_depth_summary_df = pd.read_csv("/n/scratch/users/s/sm624/ISS_H37Rv_simulated_depths/simulated_depths_summary.csv")
ISS_depth_summary_df["tag"] = list(ISS_Rv_depth_summary_df.tag.values)
ISS_depth_summary_df["genome"] = ["H37Rv"]*ISS_Rv_depth_summary_df.shape[0]
ISS_depth_summary_df["simulation"] = [int(tag.split("_")[0].strip("sim")) for tag in ISS_Rv_depth_summary_df.tag.values]
ISS_depth_summary_df["expected_depth"] = [int(tag.split("_")[-2]) for tag in ISS_Rv_depth_summary_df.tag.values]
ISS_depth_summary_df["value_mean"] = list(ISS_Rv_depth_summary_df.value_mean.values)

# L1234
ISS_L1234_depth_summary_df = pd.read_csv("/n/scratch/users/s/sm624/ISS_L1234_simulated_depths/simulated_depths_summary.csv")
add_df = pd.DataFrame(columns=["tag", "genome", "simulation", "expected_depth", "value_mean"])
add_df["tag"] = list(ISS_L1234_depth_summary_df.tag.values)
add_df["genome"] = ["L1234"]*ISS_L1234_depth_summary_df.shape[0]
add_df["simulation"] = [int(tag.split("_")[0].strip("sim")) for tag in ISS_L1234_depth_summary_df.tag.values]
add_df["expected_depth"] = [int(tag.split("_")[-2]) for tag in ISS_L1234_depth_summary_df.tag.values]
add_df["value_mean"] = list(ISS_L1234_depth_summary_df.value_mean.values)

ISS_depth_summary_df = pd.concat([ISS_depth_summary_df, add_df])

ISS_depth_summary_df.head()

                           tag genome  simulation  expected_depth  value_mean
0  sim1_h37rv_mutant_1_50_0.01  H37Rv           1              50   50.063076
1  sim1_h37rv_mutant_2_50_0.01  H37Rv           1              50   50.064564
2  sim1_h37rv_mutant_3_50_0.01  H37Rv           1              50   50.063408
3  sim1_h37rv_mutant_4_50_0.01  H37Rv           1              50   50.062680
4  sim1_h37rv_mutant_5_50_0.01  H37Rv           1              50   50.065039

In [12]:
ISS_depth_summary_df.to_csv("./data/simulated_data_statistics/ISS_depth_summary.csv", index=False)

In [13]:
ART_depth_summary_df = pd.DataFrame(columns=["tag", "genome", "simulation", "expected_depth", "value_mean"])

# H37Rv
ART_Rv_depth_summary_df = pd.read_csv("/n/scratch/users/s/sm624/ART_H37Rv_simulated_depths/simulated_depths_summary.csv")
ART_depth_summary_df["tag"] = list(ART_Rv_depth_summary_df.tag.values)
ART_depth_summary_df["genome"] = ["H37Rv"]*ART_Rv_depth_summary_df.shape[0]
ART_depth_summary_df["simulation"] = [int(tag.split("_")[0].strip("sim")) for tag in ART_Rv_depth_summary_df.tag.values]
ART_depth_summary_df["expected_depth"] = [int(tag.split("_")[-2]) for tag in ART_Rv_depth_summary_df.tag.values]
ART_depth_summary_df["value_mean"] = list(ART_Rv_depth_summary_df.value_mean.values)

# L1234
ART_L1234_depth_summary_df = pd.read_csv("/n/scratch/users/s/sm624/ART_L1234_simulated_depths/simulated_depths_summary.csv")
add_df = pd.DataFrame(columns=["tag", "genome", "simulation", "expected_depth", "value_mean"])
add_df["tag"] = list(ART_L1234_depth_summary_df.tag.values)
add_df["genome"] = ["L1234"]*ART_L1234_depth_summary_df.shape[0]
add_df["simulation"] = [int(tag.split("_")[0].strip("sim")) for tag in ART_L1234_depth_summary_df.tag.values]
add_df["expected_depth"] = [int(tag.split("_")[-2]) for tag in ART_L1234_depth_summary_df.tag.values]
add_df["value_mean"] = list(ART_L1234_depth_summary_df.value_mean.values)

ART_depth_summary_df = pd.concat([ART_depth_summary_df, add_df])

ART_depth_summary_df.head()

                           tag genome  simulation  expected_depth  value_mean
0  sim1_h37rv_mutant_1_50_0.01  H37Rv           1              50   50.100973
1  sim1_h37rv_mutant_2_50_0.01  H37Rv           1              50   50.102111
2  sim1_h37rv_mutant_3_50_0.01  H37Rv           1              50   50.100801
3  sim1_h37rv_mutant_4_50_0.01  H37Rv           1              50   50.102328
4  sim1_h37rv_mutant_5_50_0.01  H37Rv           1              50   50.099667

In [14]:
ART_depth_summary_df.to_csv("./data/simulated_data_statistics/ART_depth_summary.csv", index=False)

# Get base quality

## ISS Rv [COMPLETE]

```bash
bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/setup.sh \
  /n/scratch/users/s/sm624/ISS_H37Rv_simulated_depths/tag_map.csv \
  /n/scratch/users/s/sm624/ISS_H37Rv_simulated_BQs \
  100 \
  sim_BQs
  
bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/RUN_BATCH_get_BQs.sh \
  /n/scratch/users/s/sm624/ISS_H37Rv_simulated_BQs/pipeline_data/sim_BQs_isolate_groups_1757521135 \
  /n/scratch/users/s/sm624/ISS_H37Rv_simulated_BQs/output \
  /n/scratch/users/s/sm624/ISS_H37Rv_simulated_BQs/scratch \
  4 \
  100M \
  /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/config_files/benchmarking_analysis
```

In [8]:
tag_path_df = pd.DataFrame(columns=["tag", "BQ_file"])
df_i = 0

for tag in tagsRv:
    
    BQ_file = "/n/scratch/users/s/sm624/ISS_H37Rv_simulated_BQs/output/{0}.BQ".format(tag)
    assert(os.path.isfile(BQ_file))
    
    tag_path_df.loc[df_i] = [tag, BQ_file]
    df_i += 1
    
tag_path_df.to_csv("/n/scratch/users/s/sm624/ISS_H37Rv_simulated_BQs/BQ_file_map.csv", index=False, header=False)

```bash
python /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/get_mean.py \
  /n/scratch/users/s/sm624/ISS_H37Rv_simulated_BQs/BQ_file_map.csv \
  /n/scratch/users/s/sm624/ISS_H37Rv_simulated_BQs/simulated_BQ_summary.csv
```

## ISS L1234 [COMPLETE]

```bash
bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/setup.sh \
  /n/scratch/users/s/sm624/ISS_L1234_simulated_depths/tag_map.csv \
  /n/scratch/users/s/sm624/ISS_L1234_simulated_BQs \
  100 \
  sim_BQs
  
bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/RUN_BATCH_get_BQs.sh \
  /n/scratch/users/s/sm624/ISS_L1234_simulated_BQs/pipeline_data/sim_BQs_isolate_groups_1757524900 \
  /n/scratch/users/s/sm624/ISS_L1234_simulated_BQs/output \
  /n/scratch/users/s/sm624/ISS_L1234_simulated_BQs/scratch \
  4 \
  100M \
  /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/config_files/benchmarking_analysis
```

In [16]:
tag_path_df = pd.DataFrame(columns=["tag", "BQ_file"])
df_i = 0

for tag in tagsL1234:
    
    BQ_file = "/n/scratch/users/s/sm624/ISS_L1234_simulated_BQs/output/{0}.BQ".format(tag)
    assert(os.path.isfile(BQ_file))
    
    tag_path_df.loc[df_i] = [tag, BQ_file]
    df_i += 1
    
tag_path_df.to_csv("/n/scratch/users/s/sm624/ISS_L1234_simulated_BQs/BQ_file_map.csv", index=False, header=False)

```bash
python /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/get_mean.py \
  /n/scratch/users/s/sm624/ISS_L1234_simulated_BQs/BQ_file_map.csv \
  /n/scratch/users/s/sm624/ISS_L1234_simulated_BQs/simulated_BQ_summary.csv
```

## ART H37Rv [COMPLETE]

```bash
bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/setup.sh \
  /n/scratch/users/s/sm624/ART_H37Rv_simulated_depths/tag_map.csv \
  /n/scratch/users/s/sm624/ART_H37Rv_simulated_BQs \
  100 \
  sim_BQs
  
bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/RUN_BATCH_get_BQs.sh \
  /n/scratch/users/s/sm624/ART_H37Rv_simulated_BQs/pipeline_data/sim_BQs_isolate_groups_1757524945 \
  /n/scratch/users/s/sm624/ART_H37Rv_simulated_BQs/output \
  /n/scratch/users/s/sm624/ART_H37Rv_simulated_BQs/scratch \
  4 \
  100M \
  /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/config_files/benchmarking_analysis
```

In [32]:
tag_path_df = pd.DataFrame(columns=["tag", "BQ_file"])
df_i = 0

for tag in tagsRv:
    
    BQ_file = "/n/scratch/users/s/sm624/ART_H37Rv_simulated_BQs/output/{0}.BQ".format(tag)
    assert(os.path.isfile(BQ_file))
    
    tag_path_df.loc[df_i] = [tag, BQ_file]
    df_i += 1
    
tag_path_df.to_csv("/n/scratch/users/s/sm624/ART_H37Rv_simulated_BQs/BQ_file_map.csv", index=False, header=False)

```bash
python /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/get_mean.py \
  /n/scratch/users/s/sm624/ART_H37Rv_simulated_BQs/BQ_file_map.csv \
  /n/scratch/users/s/sm624/ART_H37Rv_simulated_BQs/simulated_BQ_summary.csv
```

## ART L1234 [COMPLETE]

```bash
bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/setup.sh \
  /n/scratch/users/s/sm624/ART_L1234_simulated_depths/tag_map.csv \
  /n/scratch/users/s/sm624/ART_L1234_simulated_BQs \
  100 \
  sim_BQs
  
bash /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/batch_job_scripts/RUN_BATCH_get_BQs.sh \
  /n/scratch/users/s/sm624/ART_L1234_simulated_BQs/pipeline_data/sim_BQs_isolate_groups_1757524981 \
  /n/scratch/users/s/sm624/ART_L1234_simulated_BQs/output \
  /n/scratch/users/s/sm624/ART_L1234_simulated_BQs/scratch \
  4 \
  100M \
  /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/config_files/benchmarking_analysis
```

In [33]:
tag_path_df = pd.DataFrame(columns=["tag", "BQ_file"])
df_i = 0

for tag in tagsL1234:
    
    BQ_file = "/n/scratch/users/s/sm624/ART_L1234_simulated_BQs/output/{0}.BQ".format(tag)
    assert(os.path.isfile(BQ_file))
    
    tag_path_df.loc[df_i] = [tag, BQ_file]
    df_i += 1
    
tag_path_df.to_csv("/n/scratch/users/s/sm624/ART_L1234_simulated_BQs/BQ_file_map.csv", index=False, header=False)

```bash
python /home/sm624/projects/mixed_calls/benchmarking/comprehensive/analysis/all/FINAL/publish/scripts/get_mean.py \
  /n/scratch/users/s/sm624/ART_L1234_simulated_BQs/BQ_file_map.csv \
  /n/scratch/users/s/sm624/ART_L1234_simulated_BQs/simulated_BQ_summary.csv
```

## Combine

In [15]:
ISS_BQ_summary_df = pd.DataFrame(columns=["tag", "genome", "simulation", "value_mean"])

# H37Rv
ISS_Rv_BQ_summary_df = pd.read_csv("/n/scratch/users/s/sm624/ISS_H37Rv_simulated_BQs/simulated_BQ_summary.csv")
ISS_BQ_summary_df["tag"] = list(ISS_Rv_BQ_summary_df.tag.values)
ISS_BQ_summary_df["genome"] = ["H37Rv"]*ISS_Rv_BQ_summary_df.shape[0]
ISS_BQ_summary_df["simulation"] = [int(tag.split("_")[0].strip("sim")) for tag in ISS_Rv_BQ_summary_df.tag.values]
ISS_BQ_summary_df["value_mean"] = list(ISS_Rv_BQ_summary_df.value_mean.values)

# L1234
ISS_L1234_BQ_summary_df = pd.read_csv("/n/scratch/users/s/sm624/ISS_L1234_simulated_BQs/simulated_BQ_summary.csv")
add_df = pd.DataFrame(columns=["tag", "genome", "simulation", "value_mean"])
add_df["tag"] = list(ISS_L1234_BQ_summary_df.tag.values)
add_df["genome"] = ["L1234"]*ISS_L1234_BQ_summary_df.shape[0]
add_df["simulation"] = [int(tag.split("_")[0].strip("sim")) for tag in ISS_L1234_BQ_summary_df.tag.values]
add_df["value_mean"] = list(ISS_L1234_BQ_summary_df.value_mean.values)

ISS_BQ_summary_df = pd.concat([ISS_BQ_summary_df, add_df])

ISS_BQ_summary_df.head()

                           tag genome  simulation  value_mean
0  sim1_h37rv_mutant_1_50_0.01  H37Rv           1   35.376862
1  sim1_h37rv_mutant_2_50_0.01  H37Rv           1   35.377609
2  sim1_h37rv_mutant_3_50_0.01  H37Rv           1   35.378071
3  sim1_h37rv_mutant_4_50_0.01  H37Rv           1   35.377727
4  sim1_h37rv_mutant_5_50_0.01  H37Rv           1   35.376639

In [16]:
ISS_BQ_summary_df.to_csv("./data/simulated_data_statistics/ISS_BQ_summary.csv", index=False)

In [17]:
ART_BQ_summary_df = pd.DataFrame(columns=["tag", "genome", "simulation", "value_mean"])

# H37Rv
ART_Rv_BQ_summary_df = pd.read_csv("/n/scratch/users/s/sm624/ART_H37Rv_simulated_BQs/simulated_BQ_summary.csv")
ART_BQ_summary_df["tag"] = list(ART_Rv_BQ_summary_df.tag.values)
ART_BQ_summary_df["genome"] = ["H37Rv"]*ART_Rv_BQ_summary_df.shape[0]
ART_BQ_summary_df["simulation"] = [int(tag.split("_")[0].strip("sim")) for tag in ART_Rv_BQ_summary_df.tag.values]
ART_BQ_summary_df["value_mean"] = list(ART_Rv_BQ_summary_df.value_mean.values)

# L1234
ART_L1234_BQ_summary_df = pd.read_csv("/n/scratch/users/s/sm624/ART_L1234_simulated_BQs/simulated_BQ_summary.csv")
add_df = pd.DataFrame(columns=["tag", "genome", "simulation", "value_mean"])
add_df["tag"] = list(ART_L1234_BQ_summary_df.tag.values)
add_df["genome"] = ["L1234"]*ART_L1234_BQ_summary_df.shape[0]
add_df["simulation"] = [int(tag.split("_")[0].strip("sim")) for tag in ART_L1234_BQ_summary_df.tag.values]
add_df["value_mean"] = list(ART_L1234_BQ_summary_df.value_mean.values)

ART_BQ_summary_df = pd.concat([ART_BQ_summary_df, add_df])

ART_BQ_summary_df.head()

                           tag genome  simulation  value_mean
0  sim1_h37rv_mutant_1_50_0.01  H37Rv           1   36.552316
1  sim1_h37rv_mutant_2_50_0.01  H37Rv           1   36.551986
2  sim1_h37rv_mutant_3_50_0.01  H37Rv           1   36.551695
3  sim1_h37rv_mutant_4_50_0.01  H37Rv           1   36.551733
4  sim1_h37rv_mutant_5_50_0.01  H37Rv           1   36.552722

In [18]:
ART_BQ_summary_df.to_csv("./data/simulated_data_statistics/ART_BQ_summary.csv", index=False)

# Get raw read count

## By depth

### ISS Rv

In [24]:
for freq in freqs:
    
    raw_read_counts_df = pd.DataFrame(columns=["depth", "AF"])

    for depth in depths:

        for sim_i in range(1, 6):

            for mutant_num in range(1, 11):

                tag = "sim{}_h37rv_mutant_{}_{}_{}".format(sim_i, mutant_num, depth, freq)
    
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ISS_Rv_pileup_source_dir, tag))
                read_count_values = np.array(pileup_df["AF"].values)*100
                
                add_df = pd.DataFrame(columns=["depth", "AF"])
                add_df["depth"] = [depth]*len(read_count_values)
                add_df["AF"] = list(read_count_values)

                raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

    raw_read_counts_df.to_csv("./data/simulated_data_statistics/ISS_H37Rv_raw_read_counts_by_depth_{}.csv".format(freq), index=False)

/tmp/ipykernel_3810817/1836009858.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1836009858.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1836009858.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1836009858.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1836009858.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1836009858.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1836009858.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1836009858.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1836009858.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1836009858.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

### ISS L1234

In [25]:
for freq in freqs:
    
    raw_read_counts_df = pd.DataFrame(columns=["depth", "AF"])

    for depth in depths:

        for sim_i in range(1, 6):

            for lineage in range(1, 5):

                tag = "sim{}_L{}_mutant_{}_{}".format(sim_i, lineage, depth, freq)
    
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ISS_L1234_pileup_source_dir, tag))
                read_count_values = np.array(pileup_df["AF"].values)*100
                
                add_df = pd.DataFrame(columns=["depth", "AF"])
                add_df["depth"] = [depth]*len(read_count_values)
                add_df["AF"] = list(read_count_values)

                raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

    raw_read_counts_df.to_csv("./data/simulated_data_statistics/ISS_L1234_raw_read_counts_by_depth_{}.csv".format(freq), index=False)

/tmp/ipykernel_3810817/1363545829.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1363545829.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1363545829.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1363545829.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1363545829.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1363545829.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1363545829.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1363545829.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1363545829.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1363545829.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

### ART Rv

In [26]:
for freq in freqs:
    
    raw_read_counts_df = pd.DataFrame(columns=["depth", "AF"])

    for depth in depths:

        for sim_i in range(1, 6):

            for mutant_num in range(1, 11):

                tag = "sim{}_h37rv_mutant_{}_{}_{}".format(sim_i, mutant_num, depth, freq)
    
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ART_Rv_pileup_source_dir, tag))
                read_count_values = np.array(pileup_df["AF"].values)*100
                
                add_df = pd.DataFrame(columns=["depth", "AF"])
                add_df["depth"] = [depth]*len(read_count_values)
                add_df["AF"] = list(read_count_values)

                raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

    raw_read_counts_df.to_csv("./data/simulated_data_statistics/ART_H37Rv_raw_read_counts_by_depth_{}.csv".format(freq), index=False)

/tmp/ipykernel_3810817/1349354678.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1349354678.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1349354678.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1349354678.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1349354678.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1349354678.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1349354678.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1349354678.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1349354678.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/1349354678.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

### ART L1234

In [27]:
for freq in freqs:
    
    raw_read_counts_df = pd.DataFrame(columns=["depth", "AF"])

    for depth in depths:

        for sim_i in range(1, 6):

            for lineage in range(1, 5):

                tag = "sim{}_L{}_mutant_{}_{}".format(sim_i, lineage, depth, freq)
    
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ART_L1234_pileup_source_dir, tag))
                read_count_values = np.array(pileup_df["AF"].values)*100
                
                add_df = pd.DataFrame(columns=["depth", "AF"])
                add_df["depth"] = [depth]*len(read_count_values)
                add_df["AF"] = list(read_count_values)

                raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

    raw_read_counts_df.to_csv("./data/simulated_data_statistics/ART_L1234_raw_read_counts_by_depth_{}.csv".format(freq), index=False)

/tmp/ipykernel_3810817/3109939188.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/3109939188.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/3109939188.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/3109939188.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/3109939188.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/3109939188.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/3109939188.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/3109939188.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/3109939188.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3810817/3109939188.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

## By simulation

### ISS Rv

In [6]:
for freq in freqs:
    
    raw_read_counts_df = pd.DataFrame(columns=["simulation", "depth", "AF"])

    for depth in depths:

        for sim_i in range(1, 6):

            for mutant_num in range(1, 11):

                tag = "sim{}_h37rv_mutant_{}_{}_{}".format(sim_i, mutant_num, depth, freq)
    
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ISS_Rv_pileup_source_dir, tag))
                read_count_values = np.array(pileup_df["AF"].values)*100
                
                add_df = pd.DataFrame(columns=["simulation", "depth", "AF"])
                add_df["simulation"] = [sim_i]*len(read_count_values)
                add_df["depth"] = [depth]*len(read_count_values)
                add_df["AF"] = list(read_count_values)

                raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

    raw_read_counts_df.to_csv("./data/simulated_data_statistics/ISS_H37Rv_raw_read_counts_by_simulation_{}.csv".format(freq), index=False)

/tmp/ipykernel_3012046/1797448199.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1797448199.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1797448199.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1797448199.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1797448199.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1797448199.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1797448199.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1797448199.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1797448199.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1797448199.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

### ISS L1234

In [8]:
for freq in freqs:
    
    raw_read_counts_df = pd.DataFrame(columns=["simulation", "depth", "AF"])

    for depth in depths:

        for sim_i in range(1, 6):

            for lineage in range(1, 5):

                tag = "sim{}_L{}_mutant_{}_{}".format(sim_i, lineage, depth, freq)
    
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ISS_L1234_pileup_source_dir, tag))
                read_count_values = np.array(pileup_df["AF"].values)*100
                
                add_df = pd.DataFrame(columns=["simulation", "depth", "AF"])
                add_df["simulation"] = [sim_i]*len(read_count_values)
                add_df["depth"] = [depth]*len(read_count_values)
                add_df["AF"] = list(read_count_values)

                raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

    raw_read_counts_df.to_csv("./data/simulated_data_statistics/ISS_L1234_raw_read_counts_by_simulation_{}.csv".format(freq), index=False)

/tmp/ipykernel_3012046/1493894141.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1493894141.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1493894141.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1493894141.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1493894141.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1493894141.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1493894141.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1493894141.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1493894141.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/1493894141.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

### ART Rv

In [10]:
for freq in freqs:
    
    raw_read_counts_df = pd.DataFrame(columns=["simulation", "depth", "AF"])

    for depth in depths:

        for sim_i in range(1, 6):

            for mutant_num in range(1, 11):

                tag = "sim{}_h37rv_mutant_{}_{}_{}".format(sim_i, mutant_num, depth, freq)
    
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ART_Rv_pileup_source_dir, tag))
                read_count_values = np.array(pileup_df["AF"].values)*100
                
                add_df = pd.DataFrame(columns=["simulation", "depth", "AF"])
                add_df["simulation"] = [sim_i]*len(read_count_values)
                add_df["depth"] = [depth]*len(read_count_values)
                add_df["AF"] = list(read_count_values)

                raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

    raw_read_counts_df.to_csv("./data/simulated_data_statistics/ART_H37Rv_raw_read_counts_by_simulation_{}.csv".format(freq), index=False)

/tmp/ipykernel_3012046/2115935136.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/2115935136.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/2115935136.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/2115935136.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/2115935136.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/2115935136.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/2115935136.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/2115935136.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/2115935136.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/2115935136.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

### ART L1234

In [11]:
for freq in freqs:
    
    raw_read_counts_df = pd.DataFrame(columns=["simulation", "depth", "AF"])

    for depth in depths:

        for sim_i in range(1, 6):

            for lineage in range(1, 5):

                tag = "sim{}_L{}_mutant_{}_{}".format(sim_i, lineage, depth, freq)
    
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ART_L1234_pileup_source_dir, tag))
                read_count_values = np.array(pileup_df["AF"].values)*100
                
                add_df = pd.DataFrame(columns=["simulation", "depth", "AF"])
                add_df["simulation"] = [sim_i]*len(read_count_values)
                add_df["depth"] = [depth]*len(read_count_values)
                add_df["AF"] = list(read_count_values)

                raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

    raw_read_counts_df.to_csv("./data/simulated_data_statistics/ART_L1234_raw_read_counts_by_simulation_{}.csv".format(freq), index=False)

/tmp/ipykernel_3012046/3437955087.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/3437955087.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/3437955087.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/3437955087.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/3437955087.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/3437955087.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/3437955087.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/3437955087.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/3437955087.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_3012046/3437955087.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

## By region

### ISS Rv

In [54]:
for freq in freqs:
    
    raw_read_counts_df = pd.DataFrame(columns=["depth", "AF", "region"])

    for depth in depths:

        for sim_i in range(1, 6):

            for mutant_num in range(1, 11):

                tag = "sim{}_h37rv_mutant_{}_{}_{}".format(sim_i, mutant_num, depth, freq)

                simulated_mutations_df = pd.read_csv("../../../../mutant_summaries_final/mutant_{}.csv".format(mutant_num)).set_index(["POS", "ALT"])
                simulated_mutations_df.sort_index(inplace=True)
                simulated_mutations_df = simulated_mutations_df[["TYPE"]]
                
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ISS_Rv_pileup_source_dir, tag)).set_index(["POS", "ALT"])
                pileup_df.sort_index(inplace=True)
                
                merged_df = pileup_df.join(simulated_mutations_df, how='left')
                
                read_count_values = np.array(merged_df["AF"].values)*100
                
                add_df = pd.DataFrame(columns=["depth", "AF", "region"])
                add_df["depth"] = [depth]*len(read_count_values)
                add_df["AF"] = list(read_count_values)
                add_df["region"] = merged_df.TYPE.values

                raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

    raw_read_counts_df.to_csv("./data/simulated_data_statistics/ISS_H37Rv_raw_read_counts_by_region_{}.csv".format(freq), index=False)

/tmp/ipykernel_320030/384595438.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/384595438.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/384595438.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/384595438.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/384595438.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/384595438.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/384595438.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/384595438.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/384595438.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/384595438.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

### ISS L1234

In [67]:
for freq in freqs:
    
    raw_read_counts_df = pd.DataFrame(columns=["depth", "AF", "region"])

    for depth in depths:

        for sim_i in range(1, 6):

            for lineage in range(1, 5):

                tag = "sim{}_L{}_mutant_{}_{}".format(sim_i, lineage, depth, freq)

                simulated_mutations_df = pd.read_csv("../../../../lineage123/mutant_summaries_final/L123_mutant.csv").set_index(["POS", "ALT"])
                simulated_mutations_df.sort_index(inplace=True)
                simulated_mutations_df = simulated_mutations_df[["TYPE"]]
                
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ISS_L1234_pileup_source_dir, tag)).set_index(["POS", "ALT"])
                pileup_df.sort_index(inplace=True)
                
                merged_df = pileup_df.join(simulated_mutations_df, how='left')
                
                read_count_values = np.array(merged_df["AF"].values)*100
                
                add_df = pd.DataFrame(columns=["depth", "AF", "region"])
                add_df["depth"] = [depth]*len(read_count_values)
                add_df["AF"] = list(read_count_values)
                add_df["region"] = merged_df.TYPE.values

                raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

    raw_read_counts_df.to_csv("./data/simulated_data_statistics/ISS_L1234_raw_read_counts_by_region_{}.csv".format(freq), index=False)

/tmp/ipykernel_320030/2120157559.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/2120157559.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/2120157559.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/2120157559.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/2120157559.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/2120157559.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/2120157559.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/2120157559.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/2120157559.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/2120157559.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

### ART Rv

In [61]:
for freq in freqs:
    
    raw_read_counts_df = pd.DataFrame(columns=["depth", "AF", "region"])

    for depth in depths:

        for sim_i in range(1, 6):

            for mutant_num in range(1, 11):

                tag = "sim{}_h37rv_mutant_{}_{}_{}".format(sim_i, mutant_num, depth, freq)

                simulated_mutations_df = pd.read_csv("../../../../mutant_summaries_final/mutant_{}.csv".format(mutant_num)).set_index(["POS", "ALT"])
                simulated_mutations_df.sort_index(inplace=True)
                simulated_mutations_df = simulated_mutations_df[["TYPE"]]
                
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ART_Rv_pileup_source_dir, tag)).set_index(["POS", "ALT"])
                pileup_df.sort_index(inplace=True)
                
                merged_df = pileup_df.join(simulated_mutations_df, how='left')
                
                read_count_values = np.array(merged_df["AF"].values)*100
                
                add_df = pd.DataFrame(columns=["depth", "AF", "region"])
                add_df["depth"] = [depth]*len(read_count_values)
                add_df["AF"] = list(read_count_values)
                add_df["region"] = merged_df.TYPE.values

                raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

    raw_read_counts_df.to_csv("./data/simulated_data_statistics/ART_H37Rv_raw_read_counts_by_region_{}.csv".format(freq), index=False)

/tmp/ipykernel_320030/499309309.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/499309309.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/499309309.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/499309309.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/499309309.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/499309309.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/499309309.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/499309309.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/499309309.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/499309309.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

### ART L1234

In [68]:
for freq in freqs:
    
    raw_read_counts_df = pd.DataFrame(columns=["depth", "AF", "region"])

    for depth in depths:

        for sim_i in range(1, 6):

            for lineage in range(1, 5):

                tag = "sim{}_L{}_mutant_{}_{}".format(sim_i, lineage, depth, freq)

                simulated_mutations_df = pd.read_csv("../../../../lineage123/mutant_summaries_final/L123_mutant.csv").set_index(["POS", "ALT"])
                simulated_mutations_df.sort_index(inplace=True)
                simulated_mutations_df = simulated_mutations_df[["TYPE"]]
                
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ART_L1234_pileup_source_dir, tag)).set_index(["POS", "ALT"])
                pileup_df.sort_index(inplace=True)
                
                merged_df = pileup_df.join(simulated_mutations_df, how='left')
                
                read_count_values = np.array(merged_df["AF"].values)*100
                
                add_df = pd.DataFrame(columns=["depth", "AF", "region"])
                add_df["depth"] = [depth]*len(read_count_values)
                add_df["AF"] = list(read_count_values)
                add_df["region"] = merged_df.TYPE.values

                raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

    raw_read_counts_df.to_csv("./data/simulated_data_statistics/ART_L1234_raw_read_counts_by_region_{}.csv".format(freq), index=False)

/tmp/ipykernel_320030/144810413.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/144810413.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/144810413.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/144810413.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/144810413.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/144810413.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/144810413.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/144810413.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/144810413.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])
/tmp/ipykernel_320030/144810413.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  raw_read_counts_df = pd.concat([raw_read_counts_df, add_df])

## Number of ground truth mutations not in pileup file (why would this be?)

In [36]:
for freq in freqs:
    
    for depth in depths:

        for sim_i in range(1, 6):

            for mutant_num in range(1, 11):

                tag = "sim{}_h37rv_mutant_{}_{}_{}".format(sim_i, mutant_num, depth, freq)
    
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ISS_Rv_pileup_source_dir, tag))
                if pileup_df.shape[0] < 50:
                    print(tag, pileup_df.shape[0])

sim5_h37rv_mutant_7_100_0.02 11
sim5_h37rv_mutant_9_50_0.05 43

In [64]:
for freq in freqs:
    
    for depth in depths:

        for sim_i in range(1, 6):

            for lineage in range(1, 5):

                tag = "sim{}_L{}_mutant_{}_{}".format(sim_i, lineage, depth, freq)
    
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ISS_L1234_pileup_source_dir, tag))
                if pileup_df.shape[0] < 20:
                    print(tag, pileup_df.shape[0])

In [65]:
for freq in freqs:
    
    for depth in depths:

        for sim_i in range(1, 6):

            for mutant_num in range(1, 11):

                tag = "sim{}_h37rv_mutant_{}_{}_{}".format(sim_i, mutant_num, depth, freq)
    
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ART_Rv_pileup_source_dir, tag))
                if pileup_df.shape[0] < 50:
                    print(tag, pileup_df.shape[0])

In [66]:
for freq in freqs:
    
    for depth in depths:

        for sim_i in range(1, 6):

            for lineage in range(1, 5):

                tag = "sim{}_L{}_mutant_{}_{}".format(sim_i, lineage, depth, freq)
    
                pileup_df = pd.read_csv("{0}/{1}.AF.csv".format(ART_L1234_pileup_source_dir, tag))
                if pileup_df.shape[0] < 20:
                    print(tag, pileup_df.shape[0])